body {
    margin: 0;


}

* {
    padding: 0;
    margin: 0;
}

.fotoTeatro {
width: 50vh;
}
.fotoEstudio{
width: 50vh;
}
.fotoBonita{
width: 25vh;
}
p{
    width:100vh
}
.sobre {
    display: inline-box;
    justify-content: center;

}

.prof, .lazer {
    margin-top: 50px;
    display: flex;
    align-items: center;
    
}

.sobreMim {
    margin-top: 1500px;
    display: flex;
    align-items: center;
}
.textSobre{
   text-align: center;
}

h3 {
    margin-bottom: 10px;
}
