body {
    display: flex;
    flex-direction: column;

    padding-left: 0px;
    margin-left: 0px;
    border-left: 0px;
}
.habili {
    background-color: #00695c;
    color: rgb(180, 179, 179);
}

.date {
    
    margin: 0px;
    padding: 0px;
    border: 0px;
    
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 15px;
    
    margin-right: 250px;
    background-color: #00695c;
}

.course_name,
.description,
.name,
.instutute,
.description_course,
.skills,
.skills-bar {
    background-color: #160020;
    border-radius: 5px;
}

.skills-bar-li {
    background-color: #160020;
    padding: 0px;
    margin: 0px;
    border: 0px;
    width: 100px;
    text-align: center;

}

@media (max-width: 800px) {
    .container_aboute-me{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .totalstacks {
        text-align: center
    }
    
    .skills {
        justify-content: center;
        align-items: center;
        display: flex;
        flex-wrap: wrap;
        max-width: 350px;
        
    }

    .description_course {
        width: 35vh;
    }

    .course_name {
        width: 365px;
    }
    .description{
        margin-left: 25px;
    }
    .skills-bar-li{
        /* width: 150px; */
        margin-left: 15px;

    }
}





@media (min-width: 801px) {
.title_skill {
    display: flex;
    justify-content: center;
    padding: 0px;
    margin: 0px;
    border: 0px;
    background-color: none;
}


.container_aboute-me {
    margin-left: 15px;
}

.container_couses {
    margin: 0px;
    padding: 0px;
    border: 0px;


}

.skills-bar {
    font-weight: 500;
}



.description {
    margin-left: 25px;
    margin-bottom: 0px;
    padding: 0px;
    margin-right: 125px;
}

.course_name {
    margin-top: 10px;
    margin-bottom: 5px;
    padding-bottom: 5px;
}

.center-itens {
    display: flex;
    align-items: center;
    width: 425px;

}



.description_course {
    width: 375px
}



.skills {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
    margin: 15px;

}

.skills-bar {
    padding: 15px;
    margin-right: 15px;

}



.container_aboute-me {
    padding-top: 2vw;
    margin-left: 22vw;
    width: 40vw;
}
}


