<div class="container_aboute-me">
  <h1 class="edu_skill">CURSOS & STACKS</h1>
  <div class="center-itens">
    <div class="container_couses">
      <div class="courses">
        <div *ngFor="let course of courses" class="course_name">
          <h5 class="date">2022-2023</h5>
          <div class="description">
            <h3 class="name">{{ course.name }}</h3>
            <h4 class="instutute">{{ course.course }}</h4>
            <p class="description_course">
              {{ course.stacks.join(", ") }}
            </p>
          </div>
        </div>
      </div>
    </div>
    <h2 class="title_skill">STACKS</h2>
    <div class="totalstacks">
      <div class="skills">
        <!-- <ul class="skills-bar"> -->
        <span class="skills-bar-li">Angular <div class="habili"> Avançado </div></span>
        <br class="space">
        <span class="skills-bar-li">Context API <div class="habili"> Avançado </div></span>
        <br class="space">
        <span class="skills-bar-li">Express <div class="habili"> Intermediário </div></span>
        <br class="space">
        <span class="skills-bar-li">Hooks <div class="habili"> Avançado </div></span>
        <br class="space">
        <span class="skills-bar-li">GraphQL <div class="habili"> Basico </div></span>
        <br class="space">
        <span class="skills-bar-li">HTML & CSS <div class="habili"> Avançado </div></span>
        <br class="space">
        <span class="skills-bar-li">Java <br><div class="habili"> Basico </div></span>
        <br class="space">
        <span class="skills-bar-li">JavaScript <div class="habili"> Avançado </div></span>
        <br class="space">
        <span class="skills-bar-li">MongoDB <div class="habili"> Avançado </div></span>
        <br class="space">
      <!-- </ul> -->
      <!-- <ul class="skills-bar"> -->
        <span class="skills-bar-li">MySQL <div class="habili"> Avançado</div></span>
        <br class="space">
        <span class="skills-bar-li">Node <div class="habili"> Intermediário</div></span>
        <br class="space">
        <span class="skills-bar-li">React <div class="habili"> Avançado</div></span>
        <br class="space">
        <span class="skills-bar-li">Redux <div class="habili"> Intermediário</div></span>
        <br class="space">
        <span class="skills-bar-li">REST <div class="habili"> Intermediário</div></span>
        <br class="space">
        <span class="skills-bar-li">SpringBoot <div class="habili"> Basico </div></span>
        <br class="space">
        <span class="skills-bar-li">TDD <div class="habili"> Intermediário</div></span>
        <br class="space">
        <span class="skills-bar-li">TypeScript <div class="habili"> Avançado</div></span>
      <!-- </ul> -->
    </div>
  </div>
  </div>
</div>