<div class="container_aboute-me">
    <h1 class="edu_skill">CURSOS & STACKS</h1>
    <div class="center-itens">
        <div class="container_couses">
        <div class="courses">
            <div class="course_name">
                <h5 class="date">2022-2023</h5>
                <div class="description">
                    <h3 class="name">Desenvimento web full-stack</h3>
                    <h4 class="instutute">Trybe</h4>
                    <p class="description_course">
                        Curso de desenvolvimento web full stack
                    </p>
                </div>
            </div>
        </div>

    </div>

    <div class="skills">
        <h2 class="title_skill">STACKS</h2>
        <div class="skills-bar"></div>
        <p class="skills-bar">
            HTML
        </p>
        <p class="skills-bar">
            JavaScript
        </p>
    </div>
    </div>


</div>
