*{
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

body {

  font-family: Nunito, sans-serif;
  background-color: #ccc5b9;
  /* text-align: center; */
}

.header_h1 {

  background-color: #2FC18C;
  text-align: center;
  padding: 20px 0;
}

.img-centro { 
  display: flex;
  justify-content: space-around;

}





img {
  width: 250px;
  border-radius: 50%;
  padding: 5px;
  border: 5px solid rgb(255, 255, 255);
  margin: 20px 10px;  
  display: flex;
  align-content: center;



  
}

li {
  list-style: none;
}

footer {
  display: flex;
  justify-content: space-around;
  padding: 20px 0;
  background-color: #2FC18C;

}

.sobre-mim {
  display: flex;
  justify-content: space-around;
}

