*{
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

body {

  font-family: Nunito, sans-serif;
  background-color: #283d3b;
  
 }

 h2,h3 {
  font-size: 2.5vw; /* vw Relativo a 1% da largura da janela de visualização */
  color: #197278;
  padding: 20px 0;
  text-align: center;

 }

.header_h1 {

  
  
  font-size: 5.5vw; /* vw Relativo a 1% da largura da janela de visualização */
  color: #197278;
  text-align: center;
  padding: 20px 0;
 
    
}

.img-centro { 
  display: flex;
  justify-content: center;
  max-width: 100%;
  height: auto;
  
  

}

img {
  width: 20vw; /* tamanho da foto em vw*/
  border-radius: 50%;
  padding: 5px;
  border: 5px solid #772E25;
  margin: 20px 10px;  
  display: flex;
  justify-content: space-around;
  
}

li {
  list-style: none;
  font-weight: 600;
}

a:hover {
color: aliceblue; 
border-radius: 50%;
font-weight: 900;

}

a {

text-decoration: none; 
display: flex;
color: #197278;
font-weight: 900;


}

footer {
  display: flex;
  justify-content: space-around;
  padding: 20px 0;
  background-color: #772E25;
  

}

.sobre-mim {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  text-align: center;
  padding: 30px 0;
}

.li-habilidades, li {

text-align: center;
margin-bottom: 5px;
padding: 5px;

}

hr {
height: 2px;
border-width: 0;
color: #772E25;
background-color: #772E25;
width: 60%;
display: flex;
justify-content: space-around;
margin: auto;
margin-bottom: 5px;

}

.hr_ {
  height: 2px;
  border-width: 0;
  color: #772E25;
  background-color: #772E25;
  width: 30%;
  display: flex;
  justify-content: space-around;
  margin: auto; 
}

