<div class="countainer-portifoil">
    <h1 class="projects">PROJETOS</h1>
    <div class="tecnologies-bar">
        <p class="tecnologies">HTML</p>
        <p class="tecnologies">CSS</p>
        <p class="tecnologies">JavaScript</p>
        <p class="tecnologies">React</p>
        <p class="tecnologies">Angular</p>
    </div>
    <div class="projects-list">
        <h4 class="title">SpongeFy</h4>
        <a href="">
            <img src="../../../assets/icons/icons8-ok-64.png" alt="">
        </a>
        <div class="stacks-list">
            <p class="stacks">HTML</p>
            <p class="stacks">REACT</p>
            <p class="stacks">REST</p>
        </div>
        <a href="" class="github-link">
            <img src="../../../assets/icons/icons8-github-48 (1).png" alt="">
        </a>
    </div>
</div>
