<div class="countainer-portifoil">
    <div class="tecnologies-bar">
        <div class="bar_tec">
            <h1 class="projects">PROJETOS</h1>

            <button class="tecnologies" (click)="filterProjectsByStack('all')">
                Todos
            </button>
            <button
            class="tecnologies"
            *ngFor="let stack of allStacks" (click)="filterProjectsByStack(stack)">
            {{ stack }}
        </button>
    </div>
    </div>

    <div class="justficontent">
        <div class="projects-list" *ngFor="let project of projects">
            <div class="countainer">
                <h4 class="title">{{ project.name }}</h4>
                <a href="{{project.deploy}}" target="_blank">
                    <img class="project_img" src="{{ project.imagem }}" alt="">
                </a>
                <p class="stacks">{{ project.stacks.join(', ') }}</p>
            </div>
            <a href="{{ project.reposit }}" class="github-link">
                <img class="github-link" src="../../../assets/icons/icons8-github-48 (1).png" alt="">
            </a>
        </div>
    </div>
</div>
