<div class="intro-total">
    <div class="text">
        <h2>Olá, eu sou</h2>
        <h1>BenHur Albertassi</h1>
        <h3>Desenvolvedor full-stack</h3>
        <p>
            Procurando por um desenvolvedor full-stack habilidoso em uma ampla variedade de linguagens e tecnologias populares? Eu sou o candidato certo para você! 
            <br>Com experiência junior em Java, JavaScript, Node.Js, React, GIT, GitHub, CSS, TypeScript, MongoDB, Redux, Hooks, REST e HTML, Python e Angular, posso assumir projetos desafiadores de front-end ou back-end. 
            <br>Meu portfólio impressionante inclui projetos como Spongefy, PixelArt e StarWars Planets. Minha meta de carreira é atingir a excelência e me tornar uma referência na área, tenho habilidades de comunicação e trabalho em equipe para ajudar a alcançar essa meta. 
            <br>Estou acostumado a lidar com prazos apertados e tarefas complexas, graças à minha experiência anterior, tenho conhecimento em metodologias de desenvolvimento de software, como Trello e Scrum. 
            <br><span class="black">Não procure mais se você precisa de um desenvolvedor full-stack confiável e talentoso para sua equipe!</span>
        </p>
    <button></button>
    </div>
    <img src="" alt="">
</div>