<div class="testemonials">
  <h1 class="title">Recomendações</h1>
  <div class="recomendations">
    <div class="recomendations-list">
      <a href="https://www.linkedin.com/in/alissamaximo/">

          <img class="perfil-photo" src="../../../assets/alissa.png" alt="">
      </a>
      <div class="full-text">
        <p class="text">
          Estávamos no mesmo grupo, junto com outras pessoas, para realizar um projeto web de aplicativo simulando delivery;
          <br>iniciamos bem o trabalho com paciência e combinados de grupo, cada um dando sua opinião e levando em consideração - tudo respeitosamente.
          <br>O BenHur tomou iniciativa em realizar uma boa porção de requisitos necessários, avançando bem o código; além disso, quando tinha dúvidas, procurava-nos por ajuda, e vice-versa ajudando a mim e outres, mostrando proatividade!
          <br>Foi ótimo trabalhar com o BenHur Albertasi!
          <br>
          <span><hr></span>
          <span class="font-w">
            Alissa Maximo
          </span>
        </p>
      </div>
    </div>
  </div>
  <p class="obs">*Recomendações retiradas do <a href="https://www.linkedin.com/in/benhuralbertassi/">LinkdIn</a></p>
</div>
