* {
    padding: 0;
    margin: 0;
}

footer {
    position: fixed;
    width: 100%;
    background-color: #9ba87a;
    /* margin-top: 21%; */
    justify-content: space-between;
    align-items: center;
    bottom: 0;
    text-align: center;
    left: 0px;
    /* padding-top: -5px; */

}

.rodaPe {
    left: 0px;
    top: 30px;
    /* z-index: 0; */
    width: 100%;
    background-color: #9ba87a;
    display: flex;
    justify-content: center;
    align-items: center;

    margin: 0px;
    padding: 0px;
    border: 0px;
}

.git {
    width: 40px;
    padding: -10px;

}

.linke {
    width: 22px;
    /* margin: 5px; */

}
.textSobre{
    flex-wrap: wrap;
}