.fotoTeatro,
.fotoEstudio {
    width: 50vh;
    display: flex;
    flex-wrap: wrap;

}

.fotoBonita {
    width: 25vh;
}
.h1-name {
    margin-top: 25px;
    font-size: 36px;
    display: flex;
    justify-content: center;
}

.div-titulo {
    text-align: center;
}
.body-sobre {
    width: 100%;

}

a{
    text-decoration: none;
}
.email{
    color: black;
}
.img-projeto{
    width: 250px
}
.projeto-div{
    width: 300px;
    margin: 50px;
    /* margin-bottom: 50px; */
    text-align: center;
    box-sizing: border-box;
    
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px,
    rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    padding-bottom: 50px;
    padding-top: 50px;
}
.h3-projeto{
    margin-bottom: 15px;
}
.body-projetos{
display: flex;
align-items: center;
justify-content: center;
flex-wrap: wrap;
}

