* {
padding: 0;
margin: 0;
}

.textSobre{
width: 450px;
min-width: 350px;
display: flex;
flex-wrap: wrap;
justify-content: center;
justify-items: center;
text-align: center;

}
.sobreMim{
margin-top: 50px;
display: flex;
align-items: center;
justify-content: center;
justify-items: center;
flex-wrap: wrap;
text-align: center;


}

#p-fim{
margin-bottom: 100px;
}

