<div class="header-container">
    <div class="perfil-header">
        <img src="../../../assets/perfil.jpg" alt="">
        <h3>BenHur Albertassi</h3>
    </div>
    <div class="center">
    <div class="container_header-menu">
        <ul>
            <li>
                <img class="icons" src="../../../assets/icons/icons8-user-male-64.png">
                <a href="" class="nav-link">Sobre Mim</a>
            </li>
            <hr>
            <li>
                <img class="icons" src="../../../assets/icons/icons8-bookmark-64.png">
                <a href="" class="nav-link">Portifólio</a>
            </li>

            <hr>
            <li>
                <img class="icons" src="../../../assets/icons/icons8-ok-64.png">
                <a href="" class="nav-link">Recomendações</a>
            </li>
            <hr>

            <li>
                <img class="icons" src="../../../assets/icons/icons8-contacts-64 (1).png">
                <a href="" class="nav-link">Contato</a>
            </li>
            <hr>
        </ul>
    </div>
    <footer>
        <a href="https://www.linkedin.com/in/benhur-albertassi/" class="icon">
            <img src="../../../assets/icons/icons8-linkedin-48 (1).png"></a>
        <a href="https://github.com/BenHurAlbertassi12" class="icon">
            <img src="../../../assets/icons/icons8-github-48 (1).png"></a>
    </footer>
        </div>
</div>
